* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight {
  min-height: 100%;
}

.btnIncrementer {
	height: 25px;
	width: 25px;
}

.quantityFont {
	font-weight: bold;
	font-size: 20px;
}